
<form [formGroup]="addVehicle" (ngSubmit)="collectVehicle()">
    <div class="form-group">
      <label for="exampleInputEmail1">Vehicle Make</label>
      <input type="email" class="form-control" formControlName="make" placeholder="Enter Make">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">year</label>
      <input type="email" class="form-control" formControlName="year" placeholder="Enter year">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Model name</label>
      <input type="email" class="form-control" formControlName="modelName" placeholder="Enter model">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">status</label>
      <input type="email" class="form-control" formControlName="status"  placeholder="Enter status">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Sold Date</label>
      <input type="date" class="form-control" formControlName="solDate" placeholder="Enter date">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
